.jumbotron{
	background-color: blue;
	color: white;
	margin-top: 40px;
}

footer {
	background-color: blue;
	color: white;
	padding: 10px 10px 0 10px;
	margin-bottom: 0px;
	margin-top: 10px;
}

.card-hotel{
	flex: 1 200px;
	margin-top: 10px;
}

.btn-reserva{
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon {
	padding-right: 10px;
}

.thead{
	color: white;
	background-color: #007bff!important;
}

.tab-content {
	padding-top: 10px;
}



