.jumbotron {
  background-color: #000000;
  color: white;
  margin-top: 40px;
  margin-bottom: 0px;
}
footer {
  background-color: #000000;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 0px;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 10px;
  padding-left: 0px;
}
.thead {
  color: white;
  background-color: #007bff !important;
}
.tab-content {
  padding-top: 10px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
}
