@blue: #001b5e;
@green: #09ab00;
@yellow: #dbcb16;
@red: #f01111;
@black: #000000;

.margenes(@top: 0px, @bottom: 0px){
  margin-top: @top;
  margin-bottom: @bottom;
}

.relleno(@top: 0px, @bottom: 0px, @right: 0px, @left: 0px){
  padding-top: @top;
  padding-bottom: @bottom;
  padding-right: @right;
  padding-left: @left;
}


.jumbotron {
  background-color: @black;
  color: white;
  .margenes(40px, 0px);
  }

footer {
  background-color: @black;
  color: white;
  .relleno(10px, 10px, 0px, 10px);
  .margenes(10px, 0px);
}

.card-hotel {
  flex: 1 200px;
  .margenes(10px, 0px);
  }

.btn-reserva {
  width: 100%;
  border-radius: 0px; 
  }

.footer-address-icon {
  .relleno(0px, 0px, 10px, 0px);
  }

.thead {
  color: white;
  background-color: #007bff !important; 
  }

.tab-content {
  .relleno(10px, 0px, 0px, 0px);
  }
