$blue: #000754;
$green: #09ab00;
$yellow: #dbcb16;
$red: #f01111;

@mixin margenes($top,$bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

@mixin color{
	color: white;
}

@mixin padding($top,$bottom,$right,$left){
	padding-top: $top;
	padding-bottom: $bottom;
	padding-right: $right;
	padding-left: $left;
}

.jumbotron{
	background-color: $blue;
	@include color;
	@include margenes(40px, 0px);
}

footer {
	background-color: $blue;
	@include color;
	@include padding (10px, 10px, 0px, 10px);
	@include margenes(10px, 0px);
}

.card-hotel{
	flex: 1 200px;
	@include margenes(10px, 0px);
}

.btn-reserva{
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon {
	@include padding (0px, 0px, 10px, 0px);
}

.thead{
	@include color;
	background-color: #007bff!important;
}

.tab-content {
	@include padding (10px, 0px, 0, 0px);
}
